/* Настройка описания для галереи */
.blueimp-gallery > .description {
  position: absolute;
  top: 38px;
  left: 15px;
  color: #fff;
  display: none;
}
.blueimp-gallery-controls > .description {
  display: block;
}

.blueimp-gallery>.indicator>li {
	background-size: cover;
	width: 40px;
	height: 30px;
}